* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(41, 230, 16);
}

h1{
    color: aqua;
}

p {
    color: rgb(12, 212, 146);
}

button {
    padding: 0px;
    margin: 0px;
    background-color: rgb(177, 222, 135);
    border-radius: 3px;
    color: rgb(240, 10, 10);
}

/* Here us the ID selector */
#headingone {
    color: blue;
}

#headingtwo {
    color: rgb(255, 0, 0);
}


/* Here is Class selector . */
.myClass{
    color: brown;
}